/* test rules */
.darkBG {
   background: #999;
}

.darkerBG {
   background: #666;
}

.darkestBG {
   background: #333;
}

/* Main body for all pages */
body {
   background-color: gray;
   min-height: 100%;
}

h2 {
   padding-top: 10px;
}

.spacer{
   flex: 1;
   min-height: calc(100vh - 500px);
}

footer {
   height: 35px;
}

.content {
   background: white;
   padding-top: 5px;    
   min-height: 100vh;
   max-width: 1024px;
   margin: auto;
}

.nav {
   height: 80px;
   border-radius: 10px;
   background-color: cadetblue;
}

.nav-item {
   margin: auto;
   text-align: center;
   border-radius: 10px;
   
}

.nav-item a:hover {
   background: pink;
}

.nav-link {
   padding: 20px;
   color: white;
   font-size: 20px;
   
}

.logoImg {
   border-radius: 50%;
   margin: 4px;
   /*max-width: 20%;*/
   background: beige;
   height: auto;
   width: auto;
   max-height: 72px;
   max-width: 250px;
}

.myImage {
   float: right;
   margin: 0px 0px 15px 15px;
   border-radius: 50%;
   max-width: 80%;
}

/* table stuff for CV */
table {
   border: 1px solid black;
   text-align: left;
   border-spacing: 0px;
   margin-top: 10px;
   margin-bottom: 20px;
}

tr {
    padding-bottom: 10px;
}

th, td  {
   border: 1px solid black;
   text-align: left;
   padding-left: 5px;
   padding-right: 5px;
}

.mycentertext {
    text-align: center;
}

/* CSS for tab panes in Stories page */

#main_content
{
   min-height: 80vh;
   /*margin-top:50px;*/
   /*width:500px;*/
   /*margin-left:250px;*/
}
#main_content li
{
   display:inline;
   list-style-type:none;
   background-color:#00cccc;
   padding:10px;
   border-radius:5px 5px 0px 0px;
   color:#292A0A;
   font-weight:bold;
   cursor:pointer;
}
#main_content li.notselected
{
   background-color:#00cccc;
   color:#292A0A;	
}
#main_content li.selected
{
   background-color:#ccffff;
   color:#292A0A;	
}
#main_content .hidden_desc
{
   display:none;
   visibility:hidden;
}
#main_content #page_content
{
   background-color:#ccffff;
   padding:10px;
   margin-top:9px;
   border-radius:0px 5px 5px 5px;
   color:#2E2E2E;
   line-height: 1.6em;
   word-spacing:4px;
}